html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Fira Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei",
  sans-serif, "Noto Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji";
  // Twemoji Mozilla is builtin emoji-font in Firefox. IE need delare Segoe UI Emoji explicit
  // Microsoft not contain any country flags in their emojis
}

// a {
//   text-decoration: none;
// }

button {
  border-radius: 9%;
}

.test-section {
  background-color: lightslategrey;
}
