html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Fira Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei",
  sans-serif, "Noto Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji";
  // Twemoji Mozilla is builtin emoji-font in Firefox. IE need delare Segoe UI Emoji explicit
  // Microsoft not contain any country flags in their emojis
}

// a {
//   text-decoration: none;
// }

button {
  border-radius: 9%;
}

.test-section {
  background-color: lightslategrey;
}


.item-a {
  grid-area: header;
  background-color: aqua;
}

.item-b {
  grid-area: main;
  background-color: blueviolet;
}

.item-c {
  grid-area: sidebar;
  background-color: coral;
}

.item-d {
  grid-area: footer;
  background-color: forestgreen;
}

.container {
  max-width: 1280px;
  box-shadow: 0 0 10px 2px purple;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  // grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main   main   ...... sidebar"
    "footer footer footer footer";
  // grid-gap: 10px;
  // place-content: normal space-evenly; // Edge not supported
  justify-content: space-evenly;
  // justify-items: center;
}

.container > div {
  min-height: 64px;
}

.emoji-board {
  font-size: 2rem;
}
